*.class
.classpath
*.project
Debug/vc140.idb
*.pdb
*.lastbuildstate
Debug/PAAV_Project.tlog/link.write.1.tlog
*.exe
.vs/PAAV_Project/v14/.suo
*.obj
*.log
*.sln
*.db
*.vcxproj*
*.tlog*
*.ilk
*.opendb
*ignore